# Python
__pycache__/
*.py[cod]
*$py.class
dist/
downloads/
lib/
lib64/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/


# Project specific
*.txt
!requirements.txt
*.pdf
*.pptx
*.xlsx
*.docx
*.zip
*.log

*.pptx